head{
    background-image: url("https://wallpapersafari.com/super-cool-backgrounds/");
    font-family:'Josefin Slab',serif !important;
}

body{
    background-image: url("https://wallpapersafari.com/super-cool-backgrounds/");
    font-family:'Josefin Slab',serif !important;
}

h1{
    font-size:70px;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

button:hover{
    background-color:#c5b5a2;
    cursor:pointer;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.9);
}

#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}

img {
    width: 50%;
    height: 50%;
}

img:hover {
    border-radius: 140px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.9);
}